.movie-page {
  margin-top: 57px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.movie-page__imageStyle {
  width: 100%;
  height: 100vh;
}
.movie-page-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  width: 200px;
}
.movie-page-info__genre {
  width: 100%;
  margin-left: 20px;
}
.movie-page-review {
  display: flex;
  width: 50vw;
  margin: 5rem 0;
  align-items: center;
}

.movie-page-review-about__poster {
  width: 150px;
  height: 230px;
}
.movie-page-review-about-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.movie-page-review-about-info__rating {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.movie-page-review-about-cast {
  display: flex;
  width: 80%;
  /* justify-content: center; */
  flex-direction: row;
  overflow: auto;
}
#style-4::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #6b4e4e;
}
#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.movie-page-review-about-cast__cards {
  text-align: center;
  text-decoration: none;
  color: white;
}

.movie-page-review-about-main {
  margin: 30px;
}
.movie-page-trailers {
  margin: 3rem;
}

@media (max-width: 700px) {
  .movie-page__imageStyle {
    width: 100%;
    height: 60vh;
  }

  .movie-page__title {
    position: absolute;
    bottom: 250px;
    left: 20px;
    color: white;
  }
}
