.person {
  /* width: 100vw; */
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 58px; */
}
.person-container {
  padding-top: 58px;
  /* height: 70vh; */
  width: 80%;
  display: flex;
  justify-content: center;
  color: white;
}
.person-container_overview {
  padding-left: 50px;
  padding-top: 50px;
  width: 70%;
}

.person-container-card {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding-top: 40px;
}
.person-container-card__img {
  width: 150px;
  height: 215px;
  padding: 10px;
}
.person-container-card-list {
  border: 1px solid black;
  background-color: grey;
  padding: 20px;
}

@media (max-width: 700px) {
  .person-container {
    flex-direction: column;
  }
  .person-container_overview {
    width: 90%;
    padding: 0;
  }
  .person-container-card__img {
    width: 120px;
    height: 200px;
    padding: 5px;
  }
}
